{
  "endOfLine": "lf",
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^[A-Za-z]",
    "<THIRD_PARTY_MODULES>",
    "^@tanstack/.*",
    "^@styles/.*",
    "^@assets/.*",
    "^@pages/.*",
    "^@components/.*",
    "^@hooks/.*",
    "^@stores/.*",
    "^@api/.*",
    "^@.*",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
