@import '@styles/tailwind.css';
@import '@styles/fonts.css';
@import '@styles/responsive.css';
@import '@styles/animations.css';
@import '@styles/toastify.css';

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}
